html {
	font-size: 62.5%;
}

body {
	font-family: "Jura", sans-serif;
	background-color: #1c1c1c;
	color: #d9d9d9;
	max-width: 1440px;
	min-width: 375px;
	margin: 0 auto;
}

h1 {
	font-family: "Marske", sans-serif;
}

p {
	margin: 0;
}

.accent {
	color: #e75d02;
}

@font-face {
	font-family: "Marske";
	src: url(../fonts/Marske.ttf);
}

.first-screen .greeting__textBox {
	font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
	.first-screen .greeting__textBox {
		font-size: 3rem;
	}
}

.first-screen .assist__text {
	font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
	.first-screen .assist__text {
		font-size: 1.5rem;
	}
}

.first-screen .buttons__interactive-link,
.first-screen .buttons__projects-link {
	color: inherit;
	font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
	.first-screen .buttons__interactive-link,
	.first-screen .buttons__projects-link {
		font-size: 2rem;
	}
}

.assistant__text {
	font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
	.assistant__text {
		font-size: 2rem;
	}
}

.about__heading {
	font-size: 5rem;
	letter-spacing: 7px;
	text-transform: uppercase;
	text-align: center;
}

.about__text {
	font-size: 2rem;
}

.tech__heading {
	font-size: 5rem;
	letter-spacing: 7px;
	text-transform: uppercase;
	text-align: center;
}

.contacts__heading {
	font-size: 5rem;
	letter-spacing: 7px;
	text-transform: uppercase;
	text-align: center;
}

.footer__text {
	font-size: 2rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

body {
	overflow-x: hidden;
}

main {
	gap: 50px;
}

.wrapper {
	width: 100%;
}

.page {
	height: 100vh;
	display: flex;
	position: relative;
}

.main-content {
	width: 100%;
}

.header .container {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	width: 50px;
}

.aside-header {
	background-color: #e75d02;
	min-width: 80px;
	height: 100vh;
	display: flex;
	align-items: end;
}

@media screen and (min-width: 767px) {
  .aside-header {
    min-width: 60px;
  }
}

.aside-links__list {
	margin: 0 auto;
	width: 80%;
	margin-bottom: 50px;
}

.aside-links__item:not(:last-child) {
	margin-bottom: 10px;
}

.burger-menu {
	height: 50px;
}
.burger-menu__line {
	width: 40px;
	height: 5px;
	background-color: #e75d02;
	cursor: pointer;
	position: relative;
	top: 10px;
}
.burger-menu__line::before {
	content: "";
	width: 40px;
	height: 5px;
	background-color: #e75d02;
	position: absolute;
	top: 15px;
}
.burger-menu__line::after {
	content: "";
	width: 40px;
	height: 5px;
	background-color: #e75d02;
	position: absolute;
	top: -15px;
}

.line-assist {
	top: 50%;
}
.line-assist::before,
.line-assist::after {
	left: 0;
}

.first-screen {
	min-height: 746px;
	overflow-x: hidden;
	overflow-y: clip;
}
.first-screen .diagonal-line {
	height: 30px;
	width: 120vw;
	background-color: #e75d02;
	position: relative;
	bottom: 55px;
	left: -50px;
	transform: rotate(20deg);
}
@media only screen and (min-width: 768px) {
	.first-screen .diagonal-line {
		height: 60px;
		width: 26vw;
		bottom: -10px;
		left: -70px;
		transform: rotate(40deg);
		z-index: -1;
	}
}
@media only screen and (min-width: 1024px) {
	.first-screen .diagonal-line {
		left: -80px;
	}
}
.first-screen__greeting {
	margin-bottom: 200px;
}
.first-screen .greeting__container {
	position: relative;
	margin-top: 70px;
	margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
	.first-screen .greeting__container {
		width: 80%;
		margin-left: auto;
	}
}
.first-screen .greeting__textBox {
	padding: 20px;
	padding-left: 40px;
	font-size: 2rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
  width: 90%;
}
@media screen and (min-width: 767px) {
	.first-screen .greeting__textBox {
		font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}
}
@media screen and (min-width: 1439px) {
	.first-screen .greeting__textBox {
		left: 5%;
		width: 85%;
		top: 50%;
		transform: translateY(-50%);
	}
}
.first-screen .greeting__firstLine {

	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding-bottom: 10px;
	padding-left: 20px;
}
@media screen and (min-width: 768px) {
	.first-screen .greeting__firstLine {
	}
}
.first-screen .greeting__secondLine {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding-bottom: 10px;
	padding-left: 20px;
}
.first-screen .greeting__animation {
	height: 100px;
	background-color: orange;
	opacity: 0.5;
	margin-bottom: 70px;
}
.first-screen .greeting__animation::after {
	content: "some animation";
	display: block;
	position: relative;
	top: 10px;
	font-size: 3rem;
}
.first-screen__assist {
	display: flex;
	justify-content: space-between;
  align-items: center;
}
.first-screen__assistContainer {
	position: relative;
  width: 40%;
	max-width: 610px;
}
.first-screen__assistImg {

	object-fit: contain;
}
.first-screen__assistText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	padding: 0 40px;
}

@media screen and (min-width: 767px) {
  .first-screen__assistText {
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
.first-screen .assist {
	position: relative;
}
.first-screen .assist__text {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 85%;
	transform: translateY(-50%);
	font-size: 2rem;
}
.first-screen__buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 50px;
	width: 30%;
}
.first-screen__buttons-interactive {
	margin-bottom: 50px;
}
.first-screen__buttons-interactive,
.first-screen__buttons-projects {
	display: block;
	transform: skewX(40deg);
	font-size: 1.7rem !important;
	background-color: #3f3f3f;
	padding: 10px;
	transform: skewX(-40deg);
	outline: 1px solid #3f3f3f;
	outline-offset: 5px;
	border: 2px solid #9f9f9f;
	width: 100%;
	position: relative;
	z-index: 1;
}
.first-screen__buttons-interactive::before,
.first-screen__buttons-projects::before {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 2px solid white;
	border-right: 3px solid white;
	width: 70px;
	height: 40px;
	top: 40%;
	right: -5%;
}
.first-screen__buttons-interactive::after,
.first-screen__buttons-projects::after {
	content: "";
	display: block;
	position: absolute;
	border-top: 2px solid white;
	border-left: 3px solid white;
	width: 70px;
	height: 40px;
	top: -30%;
	left: -5%;
}
.first-screen__buttons-link {
	display: block;
	transform: skewX(40deg);
	font-size: 1.7rem !important;
	color: white;
}

.assistant {
	position: relative;
	z-index: 100;
}
.assistant__text {
	background-color: #3f3f3f;
	padding: 10px 0;
	width: 80%;
	margin-right: 30px;
	clip-path: polygon(0 0, 90% 0, 100% 40%, 100% 100%, 10% 100%, 0 60%);
}
.assistant__area {
	width: 80%;
}
.assistant__logo {
	width: 50px;
	position: absolute;
	top: 50%;
	left: 87%;
	transform: translateY(-50%);
	z-index: 1;
}

.aside-about {
	width: 30px;
	height: 835px;
	background-color: #e75d02;
	position: absolute;
	top: -90px;
	right: 0;
}
@media only screen and (min-width: 768px) {
	.aside-about {
		width: 60px;
		left: 16%;
		top: -165px;
		z-index: 0;
		height: 650px;
		right: -50px;
	}
}
@media only screen and (min-width: 1024px) {
	.aside-about {
		height: 650px;
		left: 11%;
		top: -40px;
	}
}
.aside-about__horizontal {
	background-color: #e75d02;
	width: 90%;
	margin-left: auto;
	height: 80px;
	position: absolute;
	bottom: 0;
	right: 0;
}

@media screen and (min-width: 767px) {
  .aside-about__horizontal {
    height: 60px;
  }
}

.about {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.about__img-container {
	width: 100%;
	margin: 0 auto;
}
@media only screen and (min-width: 768px) {
	.about__img-container {
		margin: 0;
		position: relative;
		z-index: 1;
		width: 100%;
	}
}
.about__twoCols {
	display: flex;
}
@media only screen and (min-width: 768px) {
	.about__twoCols {
		flex-wrap: nowrap;
	}
}
.about__text-container {
	height: 500px;
}
.about__heading {
	font-size: 10rem;
	margin: 50px 0;
}
.about__text {
	padding: 2rem 2rem 2rem 2rem;
	text-align: justify;
	background-color: #3f3f3f;
	width: 95%;
	border: 2px solid #d9d9d9;
	outline: 1px solid #3f3f3f;
	outline-offset: 7px;
	position: relative;
}
@media only screen and (min-width: 1024px) {
	.about__text {
		font-size: 1.7rem;
	}
}
.about__text::before {
	content: "";
	display: block;
	position: absolute;
	border-top: 2px solid white;
	border-right: 3px solid white;
	width: 70px;
	height: 70px;
	top: -5%;
	right: -5%;
}
.about__text::after {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 2px solid white;
	border-left: 3px solid white;
	width: 70px;
	height: 70px;
	bottom: -5%;
	left: -5%;
}

.aside-tech__vert {
	width: 80px;
	height: 100vh;
	background-color: #e75d02;
	position: absolute;
	right: 0;
}

@media screen and (min-width: 767px) {
  .aside-tech__vert{
    width: 60px;
  }
}

.tech {
	margin-bottom: 10rem;
	position: relative;
	width: 100%;
}
.tech__heading {
	margin-bottom: 3rem;
	font-size: 10rem;
}
.tech__table {
	width: 60%;
	margin: 0 auto;
}
@media only screen and (min-width: 768px) {
	.tech__table {
		width: 75%;
	}
}
.tech-item__container {
	width: 95%;
	height: 95%;
	background-color: #3f3f3f;
	outline: 1px solid #3f3f3f;
	outline-offset: 3px;
	border: 1px solid white;
	position: relative;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.tech__caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5rem;
	font-weight: 700;
	z-index: 0;
}
.tech-item__icon {
	width: 70%;
	height: 70%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts {
	margin-bottom: 10rem;
  width: 100%;

}
.contacts__list {
	width: 70%;
	margin: 0 auto;
	padding: 0;
  display: flex;

}

.contacts__heading {
	margin-bottom: 3rem;
  font-size: 10rem;
}

.contacts__list {
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.contacts__item {
	width: 20%;

}

.contacts img {
	width: 100%;
}

.burger-menu__container {
	background-color: #1c1c1c;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	font-size: 2rem;
	padding: 2rem;
	opacity: 0;
	visibility: hidden;
}

.burger-menu__container.active {
	opacity: 1;
	visibility: visible;
}

.burger-menu__list {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	padding: 0;
}

.burger-menu__close {
	position: absolute;
	top: 30px;
	right: 30px;
	padding: 3rem 0;
}

.close-line {
	display: block;
	width: 30px;
	min-height: 5px;
	background: white;
	transform: rotate(-45deg);
}
.close-line::before {
	display: block;
	content: "";
	width: 30px;
	height: 5px;
	position: relative;
	background: white;
	top: 0;
	transform: rotate(90deg);
}

.burger-item a {
	color: white !important;
}

.burger__removeAssist {
	text-align: center;
}

.changeLang__buttons {
	text-align: center;
	color: grey;
	font-size: 3rem !important;
}

.tab-visible {
	font-size: 20px;
}

.changeLang__buttons button.active {
	color: white;
}

.swiper {
	height: 340px;
}

.swiper-slide {
	height: 160px;
	width: 160px !important;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
