html {
  font-size: 62.5%; }

body {
  font-family: "Jura", sans-serif;
  background-color: #1c1c1c;
  color: #d9d9d9; }

h1 {
  font-family: "Marske", sans-serif; }

p {
  margin: 0; }

.accent {
  color: #e75d02; }

.header {
  height: 30px;
  background-color: #141313; }
  .header__logo {
    margin-left: auto;
    width: 30px; }

.aside-header {
  background-color: #e75d02;
  width: 30px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (min-width: 768px) {
    .aside-header {
      width: 60px; } }

.aside-links {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translateX(-50%); }

.burger-menu__line {
  width: 20px;
  height: 3px;
  background-color: #141313;
  border-radius: 3px;
  position: relative;
  top: 12px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%); }
  @media only screen and (min-width: 768px) {
    .burger-menu__line {
      top: 15px; } }
  .burger-menu__line::before {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #141313;
    border-radius: 3px;
    position: absolute;
    top: 5px; }
  .burger-menu__line::after {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #141313;
    border-radius: 3px;
    position: absolute;
    top: -5px; }

.first-screen .greeting__container {
  position: relative;
  margin-bottom: 100px; }

.first-screen .greeting__textBox {
  position: absolute;
  top: 25%;
  left: 10%; }

.first-screen .greeting__firstLine {
  margin-bottom: 15px; }

.first-screen .assist__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.first-screen .assist__text {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 85%;
  transform: translateY(-50%); }

.first-screen .buttons__interactive {
  position: relative;
  width: 70%; }
  @media only screen and (min-width: 768px) {
    .first-screen .buttons__interactive {
      width: 100%; } }
  .first-screen .buttons__interactive-link {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.first-screen .buttons__projects {
  position: relative;
  width: 70%; }
  @media only screen and (min-width: 768px) {
    .first-screen .buttons__projects {
      width: 100%; } }
  .first-screen .buttons__projects-link {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.assistant {
  background-color: #141313;
  position: relative;
  z-index: 100; }
  .assistant__wrapper {
    margin-left: auto; }
    @media only screen and (min-width: 768px) {
      .assistant__wrapper {
        margin-left: 0; } }
  .assistant__container {
    position: relative; }
  .assistant__area {
    width: 80%; }
  .assistant__logo {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translateY(-50%);
    z-index: 1; }
  .assistant__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.aside-about {
  width: 30px;
  height: 800px;
  background-color: #e75d02; }

.about {
  display: flex; }
  .about__img-container {
    margin: 0 auto; }
    @media only screen and (min-width: 768px) {
      .about__img-container {
        margin: 0; } }
  @media only screen and (min-width: 768px) {
    .about__twoCols {
      flex-wrap: nowrap; } }
  .about__text-container {
    position: relative;
    height: 500px; }
  .about__text {
    position: absolute;
    top: 0;
    padding: 2rem 2rem 2rem 5rem; }

.aside-tech {
  height: 30px;
  width: 100vw;
  background-color: #e75d02; }
  .aside-tech__vert {
    width: 30px;
    height: 800px;
    background-color: #e75d02;
    position: absolute; }

.tech {
  margin-bottom: 10rem; }
  .tech__heading {
    margin-bottom: 3rem; }
  .tech__table {
    width: 60%;
    margin: 0 auto; }

.contacts {
  margin-bottom: 10rem; }
  .contacts__list {
    width: 70%;
    margin: 0 auto;
    padding: 0; }

@font-face {
  font-family: "Marske";
  src: url(../fonts/Marske.ttf); }

.first-screen .greeting__textBox {
  font-size: 1.2rem; }
  @media only screen and (min-width: 768px) {
    .first-screen .greeting__textBox {
      font-size: 3rem; } }

.first-screen .assist__text {
  font-size: 1.2rem; }
  @media only screen and (min-width: 768px) {
    .first-screen .assist__text {
      font-size: 1.5rem; } }

.first-screen .buttons__interactive-link, .first-screen .buttons__projects-link {
  color: inherit;
  font-size: 1.2rem; }
  @media only screen and (min-width: 768px) {
    .first-screen .buttons__interactive-link, .first-screen .buttons__projects-link {
      font-size: 2rem; } }

.assistant__text {
  font-size: 1.2rem; }
  @media only screen and (min-width: 768px) {
    .assistant__text {
      font-size: 2rem; } }

.about__heading {
  font-size: 5rem;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center; }

.about__text {
  font-size: 1.4rem; }

.tech__heading {
  font-size: 5rem;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center; }

.contacts__heading {
  font-size: 5rem;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center; }

.footer__text {
  font-size: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5); }
