@import '../sass/mixins.scss';

$color-light-black: #1c1c1c;
$color-light-grey:#d9d9d9;
$color-orange: #e75d02;
$bg-grey: #3f3f3f;

$greeting-box-fs: 3rem;
$greeting-box-fs-tab: 3rem;
$main-button-fs: 1.7rem;
$main-font-size: 1.2rem;
$tabPort-font-size: 3rem;
$assist-medium-font-size: 2rem