@font-face {
	font-family: "Marske";
	src: url(../fonts/Marske.ttf);
}

.first-screen {
	& .greeting__textBox {
		font-size: $main-font-size;
	}

	& .assist__text {
		font-size: $main-font-size;
	}

	& .buttons {
		&__interactive-link,
		&__projects-link {
			color: inherit;
			font-size: 2rem;
		}
	}
}

.assistant {
	&__text {
		font-size: $main-font-size;
	}
}

.about {
	&__heading {
		@include heading-font;
	}

	&__text {
		font-size: 1.4rem;
	}
}

.tech {
	&__heading {
		@include heading-font;
	}
}

.contacts {
	&__heading {
		@include heading-font
	}
}

.footer__text {
	font-size: 2rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}
