body {
  background-color: #1e1e1d;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.first-row {
  display: flex;
  height: 80px;
  margin-top: 30px;
}
.copyright {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 40%;
  padding: 30px;
}

.menu {
  display: flex;
  width: 60%;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.cases>a{
    transition: all .3s linear;
}

.cases > a:hover {
    color: orange;

}

.menu > li {
  width: 33%;
  padding: 30px;
}

.menu > li:not(:last-child) {
  border-right: 1px solid white;
}

.link {
  color: white;
}

.second-row {
  height: 100px;
  width: 60%;
  margin-left: auto;
  padding: 15px;
  font-size: 50px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.third-row {
  width: 60%;
  margin-left: auto;
  display: flex;
  height: 200px;
}
.description {
  width: 66%;
  padding: 15px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.contacts-items {
  width: 34%;
  padding: 15px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.contacts-list > li:not(:last-child) {
  margin-bottom: 10px;
}
.forth-row {

    margin-left: auto;
    padding: 15px;
    font-size: 80px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10%;
}

